.top{
    text-align: center;
    margin: auto;
}
#carousel-left, #carousel-center{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.title{
    font: Roboto;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 3px;
}
.content{
    background-color: #ddd;

}

.img{
    padding-bottom:10px;
    height: 150px;
    width:180px;
}
.carousel {
    margin-top:3%;
    overflow: hidden;
}
.carousel-inner{
    height:30%;
}
.carousel .item {

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
}
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;
}

.bottom{
    text-align: center;
    margin: auto;
    margin-top: 30px;
    font: Roboto;
    font-size: 1.3em;
    text-align: center;
}

.btn-accesso{
    text-align: center;
    border: 1px solid #777;
    box-sizing: border-box;
    background-color: #777;
    color: white;
}




@media (min-width: 300px){
    .content{
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
    }
    #last, #most{
        height: 60%;
    }
}

@media (min-width: 700px) {

    .content{
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        height: 500px;
    }

}


@media (min-width: 1030px) {
    .content{
        height: 400px;
        width: 30%;
        margin-left: 1.5%;
        margin-right: 1.5%;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
    }
    #last, #most{
        height: 80%;
    }
}




