
#noOrders{

    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.product{
    border: 1px solid #dddddd;
    height: 321px;
}

.product>img{
    max-width: 230px;
}

.product-rating{
    font-size: 20px;
    margin-bottom: 25px;
}

.product-title, .product-price{
    margin-top: 20px!important;
    font-size: 1.5em;
    font-weight: 600;
}

.product-stock{
    color: #74DF00;
    font-size: 20px;
    margin-top: 10px;
}

.product-info{
    margin-top: 50px;
}

/*********************************************
					VIEW
*********************************************/

.content-wrapper {
    max-width: 1140px;
    background: #fff;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 0px;
}

.container-fluid{
    max-width: 1140px;
    margin: 0 auto;
}

.view-wrapper {
    float: right;
    max-width: 70%;
    margin-top: 25px;
}

.order-container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
}

/*********************************************
				ITEM
*********************************************/

.service1-items {
    padding: 0px 0 0px 0;
    float: left;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 321px;
    width: 130px;
}

.service1-item {
    height: 107px;
    width: 120px;
    display: block;
    float: left;
    position: relative;
    padding-right: 20px;
    border-right: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.service1-item > img {
    max-height: 110px;
    max-width: 110px;
    opacity: 0.6;
    transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
    cursor: pointer;
    opacity: 1;
}

.service-image-left {
    padding-right: 50px;
}

.service-image-right {
    padding-left: 50px;
}

.service-image-left > center > img,.service-image-right > center > img{
    max-height: 155px;
}

/* Main carousel style */
.carousel {
    width: 600px;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}

.item{
    width: 60%;
    height: 40%;
}
.row{
    margin:auto;

}

#title-review{
    font-size: 1.3em;
    font-weight: 600;
    color: #428BCA;
}

#text-review{
    height: 200px;
    width: 100%;
    overflow: scroll;
    font-size: 1em;
    margin-bottom: 30px;

}

#btn-review{
    margin: auto;
    width: 150px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.item{
    height: 300px;
    max-width: 600px;

}

#imm{
    margin: 0;
    padding: 0;
    width: 100%;
}

.item-tab{
    margin: 20px;
}
.testo{
    font-size: 1em;
}

#username{
    font-weight: 600;
}
.recensione{
    background-color: whitesmoke;
    margin-bottom: 20px;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}

@media screen and (min-width: 200px) {

    .tab-content{
        font-size: 15px;

    }
    .col-md-7{
        clear: both;
    }
    #foto{
        float: left;
    }
    .item{
        width: 100%;
    }
    .img-down{
        width: 60px;
    }
    .content-wrapper{
        margin: auto 0;

    }
    #myTab{
        margin: 0 auto;
    }
    #myTab li{
        width: auto;;
    }
    #myTab a{
        font-size: 0.9em;
        margin: auto 0;
        padding-left:2;

    }
    .carousel-indicators li{
        width: 90px!important;
    }
    .carousel-indicators img{
        width: 90px!important;
    }

    .content-wrapper{
        width: 100%;
        margin: 0 auto;
    }
    .imm{
        width:60%;
    }
    #article-photo-carousel{
        width: 100%;
    }
    .product-info{
        width: 100%;
        padding: 0;
    }
}

@media screen and (min-width: 780px) {
    .up div{
        padding-left: 2%;
    }
    .up ol{
        padding-left: 2.8%;
    }
    .tab-content{
        font-size: 18px;

    }
    #pricipale{
        padding-left: 1.4%;
    }
    .item{
        width: 100%;
    }
    .img-down{
        width: 60px;
    }

    .content-wrapper{
        width: 100%;
    }
    #myTab li{
        width: 33.3%;
    }
    #myTab a{
        font-size: 1.5em;
    }
    .carousel-indicators li{
        width: 90px!important;
    }
    .carousel-indicators img{
        width: 90px!important;
    }
    .content-wrapper{
        width: 80%;
        margin-left: auto;
    }
}