
#pagingControls ul {
    display:inline;
    padding-left:0.5em
}

#pagingControls li{
    display:inline;
    padding:0 0.5em
}

/*Style main content*/
#order-c{
    position: relative;
    width: 70%;
    padding: 20px;
    height: 100%;

}
#nav-home{
    max-height: 200px;
}

.cont-two{
    max-height: 1000px;
}
#edit{
    width: 50px;
    margin: 0;
}
#text-block{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
    max-height: 6em;
    margin-bottom: 5px;
}
.row{
    margin: auto;
}
.btn{
    background-color: #ddd;
    color: black;
    padding-left: 10px;
    padding-left: 10px;
    cursor: pointer;
}

/*testo annuncio*/



.titolo{
    font-weight: 500;
}


.back{
    text-align: center;
    margin-bottom: 20px;
}


#testo{
    margin-left: 5px;
    margin-bottom: auto;
    cursor: pointer;
}


/*Style insertion*/
/*
.ann-block{
    position: relative;
    margin: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #A3BAC3;
}

.content-block{
    margin: auto;
}

.delete-btn > .btn{
    width: 100px;
//background-color: #EF626C;
    background-color: #EE6352;
//background-color: #FF3C38;
}

.edit-btn > button{
    width: 100px;
//background-color: #59CD90;
//background-color: #C1AE7C;
//background-color: #F7C97C;
    background-color: #5C9FB3;
}
.edit-btn{
    margin-bottom: 20px;
}

.btn-block{
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nond{
    margin: 20px;
}
