
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color:white;
}


.profile-generic-anchor {
    color: #000080;
}
.proofile-generic-anchor:visited {
    color: #FF69B4;
}

.profile-table{
    width: 100%;
    height: 100%;
}

.table-head{
    margin: 0 auto;
}

/*.profile-tr-menu{
    width: 33.3%;
}*/

#profile-image1 {
    cursor: pointer;
    width: 180px;
    height: 180px;
    border:1.5px solid #696969;
}

.tital{
    font-size: 1vw;
    font-weight:500;
}

.bot-border{
    border-bottom:1px #f8f8f8 solid;
    margin:5px 0  5px 0
}

.img-circle{
    alignment: center;
}

.profile-image-div{
    align-self: center;
    display: flex;
    justify-content: center;
    padding-bottom:5%
}

.prova-padding{
    border: 1px solid #696969;
    -webkit-border-radius: 5px;
    box-sizing: border-box;
    background-color: whitesmoke;
    height: 90%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    padding-bottom: 10;
}

.profile-td-head{
    font-size: 2.8em;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    color:  #000080;
}
.field{
    text-align: center;
    font-size: 1.5em;
}

.field li{
    list-style-type: none;
    font-size: 1.2em;
    padding-bottom: 0.3%;

}

.td-profile-center{
    width: 60%;
    text-align: center;
    font-size: 1.5em;
    font: Roboto;
    font-weight: 100;
    padding-bottom: 1%;
}

.div-profile-center{
    width: 60%;
    height: 55%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid #696969;
    -webkit-border-radius: 5px;
    box-sizing: border-box;
    background-color: whitesmoke;
    padding: 2.2%;

}

.div-profile-center a{
    padding-left: 1.5%;
}

.img-pacco{
    width: 80px;
    height: 80px;
    align-self: left;
    float: left;
}

.img-cart{
    width: 80px;
    height: 80px;
    align-self: left;
    float: left;
}

.img-edit{
    width: 80px;
    height: 80px;
    align-self: left;
    float: left;
}


.didascalia{
    padding-top: 8px;
    font-size: 0.8em;
    color: #373737;
}


.menu{
    width: 100%;
}
.table-profile-center{
    width: 70%;
    margin-left: 12%;
}

.etichette{
    color:  #000080;
}

@media screen and (min-width: 300px) {
    .profile-menu{
        width: 95%;
        padding: 5px;
        padding-right: 10px;
    }
    .profile-center{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .prova-padding{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .profile-td-head{
        font-size: 1em;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .field{
        text-align: center;
        font-size: 0.8em;
        font-weight: 100;
    }
    .td-profile-center{
        font-size: 1em;
    }
    .img-pacco{
        width: 60px;
        height: 60px;
    }

    .img-cart{
        width: 60px;
        height: 60px;
    }

    .img-edit{
        width: 60px;
        height: 60px;
    }
    .div-profile-center{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #profile-image1{
        width: 80px;
        height: 80px;
    }
    .table-profile-center{
        width: 90%;
        margin-left: 5%;
    }
}


@media screen and (min-width: 760px) {
    .profile-menu{
        width: 50%;
        padding: 5px;
        padding-right: 10px;
    }

    .profile-center{
        width: 500%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .prova-padding{
        width: 45%;
        height: 50%;
        margin-left: 25%;
        margin-right: auto;
    }

    .profile-td-head{
        font-size: 2em;
    }

    .field{
        text-align: center;
        font-size: 1em;
        font-weight: 100;
    }
    .td-profile-center{
        font-size: 1.5em;
    }
    .img-pacco{
        width: 80px;
        height: 80px;
    }

    .img-cart{
        width: 80px;
        height: 80px;
    }

    .img-edit{
        width: 80px;
        height: 80px;
    }
    .div-profile-center{
        width: 45%!important;
        margin-left: 25%;
        margin-right: 3%;
    }
    #profile-image1{
        width: 200px;
        height: 200px;
    }
    .table-profile-center{
        width: 100%;
        margin-left: 0%;

    }
}
