
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color:#DCDCDC;
}


.profile-generic-anchor {
    color: #03b1ce;
}
.proofile-generic-anchor:visited {
    color: #FF69B4;
}

.profile-table{
    width: 100%;
    height: 100%;
}

/*.profile-tr-menu{
    width: 33.3%;
}*/

#profile-image1 {
    cursor: pointer;
    width: 180px;
    height: 180px;
    border:2px solid #03b1ce;
}

.tital{
    font-size: 1vw;
    font-weight:500;
}

.bot-border{
    border-bottom:1px #f8f8f8 solid;
    margin:5px 0  5px 0
}

.img-circle{
    alignment: center;
}

.profile-image-div{
    align-self: center;
    display: flex;
    justify-content: center;
}

.prova-padding{
    border: 2px solid #03b1ce;
    -webkit-border-radius: 25px;
    box-sizing: border-box;
    background-color: whitesmoke;
    height: 90%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.profile-td-head{
    font-size: 2.8em;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    color: #03b1ce;
}
.field{
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
    padding: 2%;
}

.field li{
    list-style-type: none;
    font-size: 1.2em;
    padding-bottom: 0.3%;
}

.td-profile-center{
    width: 30%;
    text-align: center;
    font-size: 1.5em;
    font: Roboto;
    font-weight: 100;
    padding: 1.5%;;
}

.div-profile-center{
    width: 60%;
    height: 55%;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid #03b1ce;
    -webkit-border-radius: 25px;
    box-sizing: border-box;
    background-color: whitesmoke;
    padding: 2.2%;

}

.div-profile-center a{
    padding-left: 1.5%;
}

.img-pacco{
    width: 80px;
    height: 80px;
    align-self: left;
    float: left;
}

.img-cart{
    width: 80px;
    height: 80px;
    align-self: left;
    float: left;
}

.img-edit{
    width: 80px;
    height: 80px;
    align-self: left;
    float: left;
}


.didascalia{
    padding-top: 8px;
    font-size: 0.8em;
    color: #373737;
}



@media screen and (min-width: 300px) {
    .profile-menu{
        width: 95%;
        padding: 5px;
        padding-right: 10px;
    }
    .profile-center{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .prova-padding{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .profile-td-head{
        font-size: 1.5em;
    }

    .field{
        text-align: center;
        font-size: 1em;
        font-weight: 100;
    }
    .td-profile-center{
        font-size: 1em;
    }
    .img-pacco{
        width: 60px;
        height: 60px;
    }

    .img-cart{
        width: 60px;
        height: 60px;
    }

    .img-edit{
        width: 60px;
        height: 60px;
    }
    .div-profile-center{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #profile-image1{
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width: 768px) {
    body{
        background-color: blue;
    }
    .profile-menu{
        width: 95%;
        padding: 5px;
        padding-right: 10px;
    }
    .profile-center{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .prova-padding{
        width: 90%;
        margin-left: 3.5%;
        margin-right: 3%;
    }

    .profile-td-head{
        font-size: 2.5em;
    }

    .field{
        text-align: center;
        font-size: 1.8em;
        font-weight: 100;
    }
    .td-profile-center{
        font-size: 1.5em;
    }
    .img-pacco{
        width: 80px;
        height: 80px;
    }

    .img-cart{
        width: 80px;
        height: 80px;
    }

    .img-edit{
        width: 80px;
        height: 80px;
    }
    .div-profile-center{
        width: 90%;
        margin-left: 3%;
        margin-right: 3%;
    }
    #profile-image1{
        width: 180px;
        height: 180px;
    }

}

@media screen and (min-width: 1024px) {
    body{
        background-color: red;
    }
    .profile-menu{
        width: 95%;
        padding: 5px;
        padding-right: 10px;
    }
    .profile-center{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .prova-padding{
        width: 90%;
        height: 35%;
        overflow: scroll;
        margin-left: 3.5%;
        margin-right: 3%;
    }

    .profile-td-head{
        font-size: 3.5em;
    }

    .field{
        text-align: center;
        font-size: 2em;
        font-weight: 100;
    }
    .td-profile-center{
        font-size: 2em;
    }
    .img-pacco{
        width: 80px;
        height: 80px;
    }

    .img-cart{
        width: 80px;
        height: 80px;
    }

    .img-edit{
        width: 80px;
        height: 80px;
    }
    .div-profile-center{
        width: 90%;
        margin-left: 3%;
        margin-right: 3%;
    }
    #profile-image1{
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width: 1200px) {
    body{
        background-color: yellow;
    }
    .profile-menu{
        width: 95%;
        padding: 5px;
        padding-right: 10px;
    }
    .profile-center{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .prova-padding{
        width: 90%;
        height: 50%;
        margin-left: 3.5%;
        margin-right: 3%;
    }

    .profile-td-head{
        font-size: 2em;
    }

    .field{
        text-align: center;
        font-size: 1.3em;
        font-weight: 100;
    }
    .td-profile-center{
        font-size: 1.5em;
    }
    .img-pacco{
        width: 80px;
        height: 80px;
    }

    .img-cart{
        width: 80px;
        height: 80px;
    }

    .img-edit{
        width: 80px;
        height: 80px;
    }
    .div-profile-center{
        width: 90%;
        margin-left: 3%;
        margin-right: 3%;
    }
    #profile-image1{
        width: 180px;
        height: 180px;
    }
}


/*
@media screen and (min-width: 300px) {
    .profile-menu{
        width: 100%;
        padding: 5px;
        padding-right: 10px;
    }
    .profile-center{
        width: 100%;
        position: relative;
    }
    .prova-padding{
        width: 100%
    }

    .tr-head{
        font-size: 1.5em;
    }

    .field{
        text-align: center;
        font-size: 1em;
        font-weight: 100;
    }

}

@media screen and (min-width: 768px) {
    .profile-menu{
        width: 100%;
    }
    .profile-center{
        width: 100%;
        position: relative;
    }
    .prova-padding{
        width: 100%
    }

    .tr-head{
        font-size: 2em;
    }
    .field{
        text-align: center;
        font-size: 1.5em;
        font-weight: 100;
    }

}

@media screen and (min-width: 1024px) {
    .profile-menu{
        width: 40%;
        height: 30%;
        padding: 5px;
        padding-right: 10px;
    }
    .profile-center{
        width: 60%;
        position: relative;
    }
    .prova-padding{
        width: 100%
        height: 30%;
    }
}

@media screen and (min-width: 1200px) {
    .profile-menu{
        width: 40%;
        padding: 5px;
        padding-right: 10px;
    }
    .profile-center{
        width: 60%;
        position: relative;
    }
    .prova-padding{
        width: 100%
    }
}










/*-----------------------------------------------------------------------

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color:#DCDCDC;
}


.profile-generic-anchor {
    color: #03b1ce;
}
.proofile-generic-anchor:visited {
    color: #FF69B4;
}

.profile-menu{
    width: 40%;
    height: 100%;
    padding: 15px;
    padding-right: 20px;
}

.profile-menu-table{
    height: 100%;
    width: 100%;

}

.profile-center{
    width: 60%;
}

.profile-table{
    width: 100%;
    height: 100%;
}

/*.profile-tr-menu{
    width: 33.3%;
}*/
/*
#profile-image1 {
    cursor: pointer;
    width: 180px;
    height: 180px;
    border:2px solid #03b1ce;
}

.tital{
    font-size: 1vw;
    font-weight:500;
}

.bot-border{
    border-bottom:1px #f8f8f8 solid;
    margin:5px 0  5px 0
}

.tr-head{
    text-align: center;
    font-weight: 700;
    font-size: 2vw;
    font: Roboto;
    width: 100%;
    color: #03b1ce;
}

.tr-middle{
    margin: 50px;
}

.profile-td-head{
    border-radius: 25px;
    width: 100%;
}

.img-circle{
    alignment: center;
}

.profile-image-div{
    align-self: center;
    display: flex;
    justify-content: center;
}

.prova-padding{
    border: 2px solid #03b1ce;
    -webkit-border-radius: 25px;
    box-sizing: border-box;
    background-color: whitesmoke;
    height: 90%;
    width: 100%;
    margin-left: 40px;
}

.field{
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
}

.td-bottom li{
    list-style-type: none;
    alignment: center;
    font: Roboto;
    padding-bottom: 0.5vw;
}

.td-bottom{
    align-self: center;
}

.table-profile-center{
    width: 100%;
    height: 100%;
}

.td-profile-center{
    width: 30%;
    text-align: center;
    font-size: 1.5em;
    font: Roboto;
    font-weight: 100;
    padding: 15px;
}

.div-profile-center{
    width: 60%;
    height: 55%;
    margin-left: 200px;
    border: 2px solid #03b1ce;
    -webkit-border-radius: 25px;
    box-sizing: border-box;
    background-color: whitesmoke;
    padding: 20px;
    padding-top: 40px;

}

.div-profile-center a{
    padding-left: 50px;
}

.img-pacco{
    width: 80px;
    height: 80px;
    align-self: left;
    float: left;
}

.img-cart{
    width: 80px;
    height: 80px;
    align-self: left;
    float: left;
}

.img-edit{
    width: 80px;
    height: 80px;
    align-self: left;
    float: left;
}


.didascalia{
    padding-top: 8px;
    font-size: 0.8em;
    color: #373737;
}

@media screen and (min-width: 300px) {
    .profile-menu{
        width: 100%;
        padding: 5px;
        padding-right: 10px;
    }
    .profile-center{
        width: 100%;
        position: relative;
    }
    .prova-padding{
        width: 100%
    }

    .tr-head{
        font-size: 1.5em;
    }

    .field{
        text-align: center;
        font-size: 1em;
        font-weight: 100;
    }

}

@media screen and (min-width: 768px) {
    .profile-menu{
        width: 100%;
    }
    .profile-center{
        width: 100%;
        position: relative;
    }
    .prova-padding{
        width: 100%
    }

    .tr-head{
        font-size: 2em;
    }
    .field{
        text-align: center;
        font-size: 1.5em;
        font-weight: 100;
    }

}

@media screen and (min-width: 1024px) {
    .profile-menu{
        width: 40%;
        height: 30%;
        padding: 5px;
        padding-right: 10px;
    }
    .profile-center{
        width: 60%;
        position: relative;
    }
    .prova-padding{
        width: 100%
        height: 30%;
    }
}

@media screen and (min-width: 1200px) {
    .profile-menu{
        width: 40%;
        padding: 5px;
        padding-right: 10px;
    }
    .profile-center{
        width: 60%;
        position: relative;
    }
    .prova-padding{
        width: 100%
    }
}






















/*
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.profile-menu{
    width: 10%;
    height: 100%;
    padding: 15px;
    padding-right: 20px;
}

.profile-menu-table{
    height: 100%;
    width: 100%;

}

.profile-center{
    width: 60%;
}

.profile-table{
    width: 100%;
    height: 100%;
}

/*.profile-tr-menu{
    width: 33.3%;
}*/
/*
#profile-image1 {
    cursor: pointer;
    width: 180px;
    height: 180px;
    border:2px solid #03b1ce;
}

.tital{
    font-size: 1vw;
    font-weight:500;
}

.bot-border{
    border-bottom:1px #f8f8f8 solid;
    margin:5px 0  5px 0
}

.tr-head{
    text-align: center;
    font-weight: 700;
    font-size: 2vw;
    font: Roboto;
    width: 100%;
    color: #03b1ce;
}

.tr-middle{
    margin: 50px;
}

.profile-td-head{
    border-radius: 25px;
    width: 100%;
}

.img-circle{
    alignment: center;
}

.profile-image-div{
    align-self: center;
    display: flex;
    justify-content: center;
}

.prova-padding{
    border: 2px solid #03b1ce;
    -webkit-border-radius: 25px;
    box-sizing: border-box;
    /*background-color: whitesmoke;*/
/*
    background-color: whitesmoke;
    height: 85%;
    width: 40%;
}

.field{
    text-align: center;
    font-size: 1.5vw;
    font-weight: 100;
}

.td-bottom li{
    list-style-type: none;
    alignment: center;
    font: Roboto;
    padding-bottom: 0.5vw;
}

.td-bottom{
    align-self: center;
}
/*
@media screen and (min-width: 480px) {
    .profile-menu{
        width: 100%;
        padding: 5px;
        padding-right: 10px;
    }
    .profile-center{
        width: 100%;
        position: relative;
    }

    .profile-table {
    }

    .prova-padding{
        background-color: #FF69B4;
    }

}

/*
@media screen and (min-width: 768px) {
    .profile-menu{
        width: 100%;
        padding: 5px;
        padding-right: 10px;
    }
    .profile-center{
        width: 100%;
        position: relative;
    }

    .profile-table {
    }

    .prova-padding{
        background-color: #FF69B4;
    }
}
*/
