.reg-cont {
    padding-top:3%;
    margin-left: 40%;
}
.form-control {
    margin-bottom: 10px;
    font: Roboto;
    font-size: 1.5em;
}

.row label{
    font: Roboto;
    font-size: 1.5em;
}

.radio-inline{
    padding-left: 22px;
}

#all{

    border: 1px solid rgba(0,0,0,0.3);
}
@media screen and (min-width: 300px) {
    #all {
        width: 95%;
        margin-left: 2%;
    }
    .reg-cont {
        width:95%;
        margin-left: 1%;
    }
}
@media screen and (min-width: 400px) {
    #all {
        width: 70%;
        margin-left: 15%;
    }
    .reg-cont {
        width:95%;
        margin-left: 1%;
    }
}
@media screen and (min-width: 700px) {
    #all {
        width: 40%;
        margin-left: 30%;
    }
    .reg-cont {
        width:95%;
        margin-left: 1%;
    }
}

@media screen and (min-width: 1020px) {
    #all {
        width: 40%;
        margin-left: 30%;
    }
    .reg-cont {
        width: 90%;
        margin-left: 4%;
    }
}