.main-container{
    height: 100%;
}


.field{
    margin-top: 20px;
    text-align: center;
    width: auto;
    font-size: 1.5em;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;

}

.titolo{
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.row{
    margin: auto;
}

.title{
    margin: 30px;
    letter-spacing: 5px;
    text-align: center;
    height: 60px;
    font: Roboto;
    font-size: 2em;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
}

.recensione{
    background-color: whitesmoke;
    margin-bottom: 20px;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}

.content-wrapper {
    max-width: 1140px;
    background: #fff;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 0px;
}

#title-review{
    font-size: 1.3em;
    font-weight: 600;
    color: #428BCA;
}

#text-review{
    height: 200px;
    width: 100%;
    overflow: scroll;
    font-size: 1em;
    margin-bottom: 30px;

}

#btn-review{
    margin: auto;
    width: 150px;
    margin-bottom: 50px;
    margin-top: 20px;
}

@media screen and (min-width: 700px) {
    .field{
        font-size: 1.2em;

    }
    .justify-content-between{
        margin-right: 150px;
        margin-left: 150px;
        width: auto;
    }

}
