#shop-content{
    height: 100%;
}

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.container2{
    margin: auto;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 30px;
    width: 100%;
}

.filter-col{
    padding-left:10px;
    padding-right:10px;
}

.list-group{
    max-height: 100%;
    overflow: scroll;
    margin: auto;
}
::-webkit-scrollbar {
    display: none;
}

#filter-bottom{
    margin: auto;
    margin-top: 20px;
}

.span{
    margin-left: 10px;
}

.shop-container{
    margin: 30px;
}

#shop-content{
    margin: 30px;
}

.niente{
    display: none;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
}

#dropdowCat>li{
    padding: 5px;
    margin: 5px;
}

#dropdowCat>li:hover{
    background-color: whitesmoke;
}
.custom-select{
    background-color: white;
}

.custom-select > option{
    background-color: white;
}
.ricerca{
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.display{
    text-align: center;
}
.gruppo{
    width: 100%;
}
.form{
    text-align: center;
}
.custom-select, .custom-file{
    margin: 20;
    margin-bottom :5px;
    width: 90%;

}
.custom-file{

    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px;
}

.btn-outline-secondary{
    width :50%;
    height :40px;
}
.btn-outline-secondary:hover{
    background-color :lightgray;
}

.caption>p{
    height:95px;
    overflow: hidden;
}

.list-group-image{
    max-height: 250px;
}

.thumbnail{
    height: 450px;
}

@media screen and (min-width: 700px) {
    #filter-bottom{
        margin: auto;
        margin-top: 20px;
    }
    .ricerca{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .display{
        margin-top: 15px;
        margin-bottom: auto;
        padding-left: 50px;
        text-align: left;
    }

    .gruppo{
        width: 700px;
    }
    .custom-select, .custom-file{
        margin: 0;
        width: auto;

    }
    .custom-file{
        width:500px;
        border-radius: 5px;
        margin-right: 5px;
        margin-left: 5px;
        padding: 10px;
    }

    .btn-outline-secondary{
        width :auto;
        height :35px;;
    }

}



